loguru
pyyaml==6.0.1
pathlib
langchain==0.3.25
langchain_community==0.3.25
langgraph==0.3.25
numpy==2.3.0
openai==1.88.0
tiktoken==0.9.0
langchain_openai==0.3.23
pytest==8.4.0
langchain-tavily==0.2.3
arxiv==2.2.0
